<div class="container">
  <div class="article-list-container">
    <h1>Voici les derniers articles</h1>
      <div class="articles">
        <% @articles.each do |article| %>
          <div class="card-article">
            <div class="card-article-infos">
              <p class="card-article-author">Posté par<%= article.user.email %></p>
              <h2><%= article.title %></h2>
              <p><%= article.short_description %></p>
              <%= link_to "lire l'article", article_path(article), class: "btn btn-main" %>
            </div>
            <%= cl_image_tag article.photo.key %>
          </div>
        <% end %>
      </div>
  </div>
</div>
